.date {
  color: gray;
  margin: 0 5px;
  align-self: flex-end;
}

.bubble {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 400px;
  border-radius: 5px;
  padding: 5px;
  margin: 0 12px;
}

.bubble__right {
  composes: bubble;
  background: #dcf8c6;
}

.bubble__right:after {
  border-color: transparent #dcf8c6;
  border-width: 8px 0 8px 11px;
  right: -11px;
}

.bubble__left {
  composes: bubble;
  background: #D4E2F3;
}

.bubble__left:after {
  border-width: 8px 11px 8px 0;
  border-color: transparent #D4E2F3;
  left: -11px;
}

.bubble__right:after, .bubble__left:after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  z-index: 1;
  top: 11px;
}
