.metadata_container {
  color: rgba(0, 0, 0, 0.5);
  margin: 0 5px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px;
  font-size: 12px;
}

.metadata_container > * {
  margin: 0 2px;
}

.message {
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
  -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
  border-radius: 5px;
  padding: 5px;
  margin: 0 12px;
}

.message__event {
  background: #d4eaf4;
  display: flex;
  color: #666;
  text-align: center;
  align-self: center;
  composes: message;
}

.bubble {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 400px;
  composes: message;
}

.bubble__right {
  composes: bubble;
  background: #dcf8c6;
}

.bubble__right::after {
  border-color: transparent #dcf8c6;
  border-width: 8px 0 8px 11px;
  right: -11px;
}

.bubble__left {
  composes: bubble;
  background: white;
}

.bubble__left::after {
  border-width: 8px 11px 8px 0;
  border-color: transparent white;
  left: -11px;
}

.bubble__right::after,
.bubble__left::after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  z-index: 1;
  top: 11px;
}
