{
  "presets": ["es2015-webpack", "stage-3", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-function-bind"
  ],
  "sourceMaps": "both",
}
