html,
body {
  margin: 0;
  max-height: 100vh;
  height: 100vh;
  font-family: Roboto, sans-serif;
}

.app {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
}

.header {
  grid-area: header;
  grid-column: 1;
  grid-row: 1;
  align-items: center;
  justify-content: flex-start !important;
}

.conversation_list {
  grid-column: 1;
  grid-row: 2;
}

.chat_view {
  grid-row: 1 / span 2;
  grid-column: 2;
  height: 100%;
}
